.fondoPuertas {
    display: flex;
    height: 100vh;
    width: 100%;
  }

  .puertaIzquierda,
  .puertaDerecha{
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-weight: 600;
  }


  .puertaIzquierda{
    background-image: url('/imgs/puerta1.jpg');
  }
  .puertaDerecha{
    background-image: url('/imgs/puerta2.jpg');
  }